<a href="https://colab.research.google.com/github/Jay0774/Machine_learning/blob/master/BostonHousingdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as mp # muli dimensional array 
import pandas as  pd # load data in data frame object
import matplotlib as mlp
import matplotlib.pyplot as plt 
from matplotlib.animation import FuncAnimation # animations 

# all required libraries from sklearn
from sklearn.datasets import load_boston
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

from IPython.display import HTML # for display

In [0]:
# first we need to get data 

boston = load_boston()
boston

# after getting data we need to do preprocessing

In [0]:
# step 1 data preprocessing of boston data
# to get features from data set we use pandas

features = pd.DataFrame(boston.data,columns=boston.feature_names)

# to get any column
features['AGE']

In [0]:
# to get the target column of boston dataset
target = pd.DataFrame(boston.target,columns=['target'])

In [11]:
# to perform simple tasks on target dataset
max(target['target'])

50.0

In [12]:
# to concatenate the complete set use concat with axis=1 for columns
df = pd.concat([features,target],axis=1)
df

        CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  target
0    0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98    24.0
1    0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14    21.6
2    0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03    34.7
3    0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94    33.4
4    0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33    36.2
..       ...   ...    ...   ...    ...  ...    ...      ...     ...    ...     ...
501  0.06263   0.0  11.93   0.0  0.573  ...  273.0     21.0  391.99   9.67    22.4
502  0.04527   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   9.08    20.6
503  0.06076   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   5.64    23.9
504  0.10959   0.0  11.93   0.0  0.573  ...  273.0     21.0  393.45   6.48    22.0
505  0.04741   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   7.88    11.9

[506 rows x 14 columns]